{% extends "network/layout.html" %}

{% block body %}
<div>
    <div style = "padding:10px; text-align: center;">
        <h1 id="user_profile">{{ user }}</h1>
        Followers: <b>{{ follower_count }}</b>
        Following: <b>{{ following_count }}</b><br>

        <!--if the logged in user isnt the user of the profile & the logged in user DOESNT follow that profile, show a follow button-->
        <form action="{% url 'profile' user %}" method="POST">
            {% csrf_token %}
            {% if request.user != user and not follows %}
            <div id="request-view">
                <button type="submit" style="margin:10px;" class="btn btn-sm btn-outline-primary" id="follow">Follow</button></a>
            </div>

        <!--if the logged in user isnt the user of the profile & the logged in user DOES follow that profile, show an unfollow button-->
            {% elif request.user != user and follows %}
                <div id="unfollow-view">
                    <button type="submit" style="margin:10px;" class="btn btn-sm btn-outline-primary" id="unfollow">Unfollow</button>
                </div>
            {% endif %}

        </form>

    </div><br>

    <div style = "padding:10px;">
        <h4>Your Posts</h4>
        {% for post in page %}
                <div class = "post">
                    <a href="{% url 'profile' post.user %}"><b style = "font-size:26px; color:black;">{{ post.user }}</b><br></a>
                    <div>
                        <div>
                            <div id="post-content-{{ post.id }}">{{ post.content }}</div>
                            <textarea id="text-area-{{ post.id }}" style="display:none;" data-csrf="{{ csrf_token }}">{{ post.content }}</textarea>
                        </div>

                        {% if request.user == post.user %}
                            <button style="margin-left:-13px;" type="button" data-post-id="{{ post.id }}" class="edit-button btn btn-link">Edit</button>
                            <button style="margin-left:-13px; display:none" type="button" data-post-id="{{ post.id }}" class="save-button btn btn-link">Save</button>
                        {% endif %}
                        <div>{{ post.created }}</div>
                        <div style="font-size: 21px;">
                            <button id="like-button-{{ post.id }}" class="like-button" data-post-id="{{ post.id }}" data-csrf="{{ csrf_token }}">&#10084;&#65039;</button>
                            <b id="like-count-{{ post.id }}" class="like-count">{{ post.likes }}</b>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page_num in page.paginator.page_range %}
                    <li class="page-item {% if page_num == page.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}

                {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
